<ul>
  <li> <%= @todo.name %> </li>
  <li> <%= @todo.description %> </li>
  <li> <%= @todo.photo %> </li>
</ul>
<br>
<br>

<h4> Usuarios que han realizado esta tarea </h4>
<br>
<% @users.each do |user|%>
    <% if TodoUser.find_by(todo_id: @todo.id, user_id: user.id).completed %>
    <br>
    <ul> 
      <li><%= user.email %></li>
    </ul>
    <% end %>
<% end %>


