
<%= @todo.name %>
<%= @todo.description %>
<%= @todo.photo %>

<h2> Usuarios que han realizado esta tarea </h2>

<% @users.each do |user|%>
    <% if TodoUser.find_by(todo_id: @todo.id, user_id: user.id).completed %>
    <br>
    <ul> 
      <li><%= user.email %></li>
    </ul>
    <% end %>
<% end %>


